*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/res/anim/
app/src/main/res/color/
library/build/generated/res/
library/build/generated/source/aidl/
library/build/generated/source/apt/
library/build/intermediates/bundles/debug/aidl/
library/build/intermediates/bundles/debug/assets/
library/build/intermediates/check-manifest/
library/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
library/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
library/build/intermediates/incremental/mergeDebugAndroidTestResources/stripped.dir/
library/build/intermediates/incremental/packageDebugResources/stripped.dir/
library/build/intermediates/incremental/processDebugAndroidTestResources/
library/build/intermediates/incremental/processDebugResources/
library/build/intermediates/intermediate-jars/debug/jni/
library/build/intermediates/jniLibs/
library/build/intermediates/shaders/
library/build/intermediates/tmp/
library/build/tmp/
